<%= render :partial => 'shared/lang' %>

<div class="btn-wrapper">
  <%= link_to 'new post', new_translate_post_path(params[:locale]), :class => 'btn' %>
</div>
<div class="clear"> </div>


<div class="dev_list">
  <ul id="sortable">
  <% for post in @posts %>
    <li id="post_<%= post.id %>">
      <%= post.title %>
      <div class="dev_list_action">
        <%= link_to 'edit', edit_translate_post_path(params[:locale], post.id), :class => 'btn' %>  <%= link_to 'delete', translate_post_path(params[:locale], post.id), :class => 'btn', :confirm => "Are you sure?", :method => "DELETE" %>
      </div>
    </li>
  <% end %>
  </ul>
</div>

